<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @quote.description %>
  
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@quote.picture_url, :width => 200) if @quote.picture.present? %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
